/* CSS da TIMELINE */

.timeline-with-icons {
  border-left: 1px solid hsl(0, 0%, 59%);
  position: relative;
  list-style: none;
  margin-right: 30%;
}

.timeline-with-icons .timeline-item {
  position: relative;
}

.timeline-icon img {
  width: 3rem;
  height: 3rem;
}

.timeline-with-icons .timeline-item:after {
  position: absolute;
  display: block;
  top: 0;
}

.timeline-with-icons .timeline-icon {
  position: absolute;
  left: -48px;
  background-color: white;
  color: hsl(217, 88.8%, 35.1%);
  border-radius: 50%;
  height: 31px;
  width: 31px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-muted {
  text-align: justify;
  color: black;
}

.timeline-title {
  color: #4C35D2;
}

.fw-bold {
  color: black;
}

.py-5 {
  margin-left: 40%;
  padding-bottom: 0px !important;
}

.py-6 {
  text-align: center;
  margin: 5% 0px 0px 0px !important;
}

.col16 {
  width: 40% !important;

}
/* SOBRE*/
.col-md-6 img {
  width: 19.5rem;
  height: 20.6rem;
  padding-left: 10%;
}
.col-md-6 img{
  margin-left: 60%;
  width: auto !important;
  padding-left: 0px !important;
}
.row{
  margin-bottom: 3%;
}


.about-left{
  width: 25%;
  text-align: left;
  padding: 0px 20px;
  /* padding-right: 9%; */
}

.about-rigth{
  width: 25%;
  align-items: center;
  padding: 0px 20px;

}

.btn-primary{
  background-color: #4C35D2 ;
  margin: 2% 0px 0px 0px;
  height: 50px;
  width: 180px;
  font-size: large;
  text-align: center;
  line-height: 30px;
  border-radius: 10px;
  font-weight: 550;
}
.imagem{
  border-radius: 50px 50px 50px 50px ;
}

.title-nav{
  color: white;
  font-size: 40px;
  margin-left: 3%;
  font-family: 'Ubuntu', sans-serif;
}
.nav-link{
  color: white;
  font-size: larger;
}
.nav-link:hover{
  color: white !important;
}
.navbar-collapse{
  flex-grow:0;
}

.d-flex{
  margin-right: 12%;
}

.d-inline-flex, .p-2{
  color: black;
}

.timeline-with-icons-2 {
  border-left: 0px;
}

@media only screen and (max-width: 600px) {
  .py-5{
    margin-left: 10%;
  }
  .timeline-with-icons{
    margin: 0px 8%;
  }
  .bbtn{
    align-items: center;
  }
  .btn-primary{
    /* background-color: #4C35D2 ; */
    margin: 2% 0px 0px 5%;
  }

 
  
}

/* HEADER */

body {
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  padding: 20px;
  width: 100%;
  height: 100vh;
  color: white;
}

.left-section {
  /* margin-left: 5%; */
  align-items: center;
  text-align: center;
  width: 100%;

}

.titulo-header{
  font-size: 80px;
  
}
.subtitulo{
  font-size: 30px;
  font-family: 'Lora';
}

.sobre{
  align-items: center;
}

.right-section {
  list-style: none;
  display: flex;
  margin-right: 13%;
}

.right-section img {
  height: 50vh;
  text-align: right;
  
}

@media (min-width: 768px) {
  .header {
    flex-direction: column;

  }

  .col-md-5 {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .header {
    flex-direction: column;
  }
  .right-section {
    display: none !important;
  }
  .titulo-header{
    font-size: 65px;
  }
  .subtitulo{
    margin: 13%;
  }

  .sobre{
    margin: 0px 27% 0px 27%;
  }
  .navbar-nav{
    flex-direction: column !important;
  }
}

/* SOBRE */

.texto-sobre{
  width: 65%;
}

.borda{
  background-color: white !important;
  color: #4C35D2;
  border-color: #4C35D2;
}

.borda:hover{
  color: #5d4ace;
  border-color: #5d4ace !important;

}

.sem-borda:hover{
  background-color: #5d4ace;

}

.skills{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  width: 100%;
}

.skills {
  margin-bottom: 7%;
  flex-direction: row;
  margin: 5% 0px 7% 0px;
}

.sobre-dados{
  text-align: left;
  width: 25%;
  padding-right: 3%;
}

.sobre-dados li{
  list-style-type: none;
  
}

.titulo-skill{
  margin-bottom: 5%;
 
}

.titulos{
   font-size: 1.3rem;
}

.dados{
  margin-bottom: 5%;
}

li h4 {
  text-transform: uppercase;
  font-weight: bolder;
  color: #4C35D2;
  margin-bottom: 0.5%;
  font-family: "poppins-bold", sans-serif;
  font-size: 0.96rem;
}

.w3-container{
  border-radius: 5px;
  color: white;
  text-align: center;
  margin-bottom: 8%;
  font-size: 70%;
  height: 14px; 
  background-color: #4C35D2 !important
}

.w3-light-grey{
  width: 100%;
  background-color: #f1f1f1 !important;
  border-radius: 5px;
}


@media (max-width: 600px){
  .skills{
    flex-direction: column;
  }

  .botao{
    flex-direction: row !important;
    
  }

  .diferente{
    text-align: center;
  }

  .sobre-dados{
    width: 100%;

  }

  .texto-sobre{
    width: 100%;
  }

  .skill-jump{

    margin: 0px 0px 10% 0px
  }

  .titulo-skill{
    text-align: center;
  }

  .titulo-jump{
    margin-top: 2.8rem;
  }
}


